body {
    font-family: Arial, sans-serif;
    margin: 20px;
    /* background-color: #6db2f3; */
    background-color: #E0A96D;
  }
  
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .section {
    margin-bottom: 20px;
    /* background-color: #84e1e2; */
    background-color: #DDC3A5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .section h2 {
    border-bottom: 1px solid #040404;
    padding-bottom: 5px;
    color: #333;
  }
  
  .section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .section ul li {
    margin-bottom: 10px;
    color: #0d0d0d;
  }
  
  .section ul li strong {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    color: #333;
  }